@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Media Query manager
/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800px: our normal styles apply
1800px + : Big Desktop

$device argument choices:
- phone
- tab-port
- tab-land
- big-desktop

rem and em always refers to browser font size here
1em = 16px: we do not use rem here
*/
@mixin respond($device) {

    @if $device == 'phone' {
        @media (max-width: 37.5em) { @content };         // 600px
    }
    @if $device == 'tab-port' {
        @media (max-width: 56.25em) { @content };         // 900px
    }
    @if $device == 'tab-land' {
        @media (max-width: 75em) { @content };        // 1200px
    }
    @if $device == 'big-desktop' {
        @media (min-width: 112.5em) { @content };        // 1800px
    }
    
}
